.backgroud{
    /* background-color:#BCDDFE;
    width: 100%; */
    padding: 10%;
}
.Visit{
    font-style:oblique;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size:0.6cm;
}
.face{
    color: blue;
}
